[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TiPS"]
	path = TiPS
	url = https://github.com/cran/TiPS
	shallow = true
	registered = true
